        <!-- Footer-->
        <footer class="border-top">
          <div class="container px-4 px-lg-5">
              <div class="row gx-4 gx-lg-5 justify-content-center">
                  <div class="col-md-10 col-lg-8 col-xl-7">
                      <ul class=" footer-links list-inline text-center">
                          <li class="list-inline-item">
                              <a href="www.linkedin.com/in/larrenz-ezra-aguilar-carino-25b250271">
                                      <h6> LinkedIn </h6>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a href="https://larrenzs-portfolio.webflow.io">
                                  <h6> Personal Website </h6>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a href="https://github.com/lecarino?tab=repositories">
                                  <h6> Github</h6>
                              </a>
                          </li>
                      </ul>
                      <div class="small text-center text-muted fst-italic">Copyright &copy; Larrenz Carino {{ current_date }}</div>
                  </div>
              </div>
          </div>
      </footer>
      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
