{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h2 class="mb-4">Image Color Extractor Website</h2>
          <h3 class="mb-4" style="font-weight: 200;"> by Larrenz Cariño</h3>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content-->
<div class="container-md">

  <div class="text-center container-sm">
    <img src="{{url_for('static', filename='/assets/img/uploaded_image.jpg') }}"
      class="main-image-style rounded mx-auto d-block mb-3">
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Color</th>
        <th scope="col">RGB Values</th>
      </tr>
    </thead>
    <tbody>
      {% for row in colors %}
      <tr>
        <th scope="row">{{ row[0] }}</th>
        <td>
          <div
            style="width: 20px; height: 20px; background-color: rgb({{ row[1][0] }}, {{ row[1][1] }}, {{ row[1][2] }});">
          </div>
        </td>
        <td>{{ row[1] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <form action="{{ url_for('home') }}" method="post" enctype="multipart/form-data">

    <p class="mb-1"><strong>File to Upload:</strong></p>
    <div class="input-group mb-3">
      <input type="file" name="file" class="form-control" id="inputGroupFile02">
    </div>

    <p class="mb-1"><strong>Number of Colors</strong></p>
    <div class="input-group mb-3">
      <input type="text" name='text' class="form-control" placeholder="6" aria-describedby="button-addon1">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% include "footer.html" %}